@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --bg-color:rgb(255, 204, 112) ;
    --primary-color:rgb(255, 250, 221) ;
    --secondary-color:rgb(34, 102, 141);
    --font: ““Nunito Sans”, sans-serif;
}
